首先我们先看第一个读者的需求：原始数据有18个文件，取出每个文件中指定的几列，然后全部合并起来，<br>
存储到一个新的文件，命名为2000_2017年省份碳排放数据。<br>


结合文章讲解学习本代码更方便高效：[点击直达教程文章](https://mp.weixin.qq.com/s/878Co1CXMiSE7XdBwh7nxg)

In [1]:
# 导入需要的数据包
import pandas as pd

In [2]:
# 0、新建一个数据存储对象（我们用pandas中的Dataframe）<br>
df_concat = pd.DataFrame()

In [3]:
# 生成一个列表，存储时间
date_year = [str(i) for i in range(2000, 2018)]

In [6]:
# 1、读取目标Excel文件<br>
file_path = 'data/2000年-2017年碳排放清单/2000年30个省份排放清单.xlsx'
data = pd.read_excel(file_path, sheet_name=None)

In [7]:
# 2、遍历取出每个sheet中需要的几行数据，存储到新建的Dataframe中<br>
'''
取出单个sheet中需要的数据
'''
def get_sheet_data(data, sheet_name, year):
    # 取需要的几行数据
    df_concat = data[sheet_name].loc[[2,3,48,49]]
    # 给 Unnamed: 0 列进行重命名
    df_concat = df_concat.rename(columns={'Unnamed: 0':'类别'})
    # 插入两列数据 省份	年份
    df_concat.insert(loc=0,column='省份',value=sheet_name)
    df_concat.insert(loc=1,column='年份',value=i)
    # 将Total这列移动到第四列
    df_temp = df_concat['Total']
    df_concat = df_concat.drop(['Total'],axis=1)  # 先删除该列
    df_concat.insert(loc=3,column='Total',value=df_temp)  # 然后插入到第四列位置
    return df_concat

'''
取出单个Excel中需要的数据
'''
def get_excel_data(data, year):
    df_concat = pd.DataFrame()
    for sheet_name in list(data.keys()):
        if sheet_name == 'Sum':
            continue
        df_temp = get_sheet_data(data, sheet_name, year)
        df_concat = pd.concat([df_concat, df_temp])
    return df_concat

In [8]:
import time 

print(time.time())
df_concat = pd.DataFrame()
for i in date_year:
    file_path = 'data/2000年-2017年碳排放清单/%s年30个省份排放清单.xlsx'%i
    data = pd.read_excel(file_path, sheet_name=None)
    df_temp = get_excel_data(data, i)
    df_concat = pd.concat([df_concat, df_temp])
print(time.time())

1620568255.1883297
1620568272.432948

In [9]:
# 查看数据规模
df_concat.shape

(2160, 25)

In [11]:
print("开始存储数据")
df_concat.to_excel("data/2000_2017年省份碳排放数据.xlsx", "2000_2017",index=None, encoding="utf-8")
# writer.save()
print("数据保存成功")

开始存储数据
数据保存成功

In [14]:
# 完整代码
import pandas as pd
import time

'''
取出单个sheet中需要的数据
'''
def get_sheet_data(data, sheet_name, year):
    # 取需要的几行数据
    df_concat = data[sheet_name].loc[[2,3,48,49]]
    # 给 Unnamed: 0 列进行重命名
    df_concat = df_concat.rename(columns={'Unnamed: 0':'类别'})
    # 插入两列数据 省份	年份
    df_concat.insert(loc=0,column='省份',value=sheet_name)
    df_concat.insert(loc=1,column='年份',value=i)
    # 将Total这列移动到第四列
    df_temp = df_concat['Total']
    df_concat = df_concat.drop(['Total'],axis=1)  # 先删除该列
    df_concat.insert(loc=3,column='Total',value=df_temp)  # 然后插入到第四列位置
    return df_concat

'''
取出单个Excel中需要的数据
'''
def get_excel_data(data, year):
    df_concat = pd.DataFrame()
    for sheet_name in list(data.keys()):
        if sheet_name == 'Sum':
            continue
        df_temp = get_sheet_data(data, sheet_name, year)
        df_concat = pd.concat([df_concat, df_temp])
    return df_concat
  
# 0、新建一个数据存储对象（我们用pandas中的Dataframe）
df_concat = pd.DataFrame()

# 生成一个列表，存储时间
date_year = [str(i) for i in range(2000, 2018)]

# 1、遍历取出每个Excel中的每个sheet中需要的几行数据，存储到新建的Dataframe中
for i in date_year:
    file_path = 'data/2000年-2017年碳排放清单/%s年30个省份排放清单.xlsx'%i
    data = pd.read_excel(file_path, sheet_name=None)
    df_temp = get_excel_data(data, i)
    df_concat = pd.concat([df_concat, df_temp])

# 2、写入数据
print("开始存储数据")
df_concat.to_excel("data/2000_2017年省份碳排放数据.xlsx", "2000_2017", index=None, encoding="utf-8")
print("数据保存成功")

开始存储数据
数据保存成功

我们来看第二个读者的需求：原数据只有一个文件，里面有8个sheet，<br>
需要将每个sheet中的几列取出来，然后根据日期存储为一个一个的csv文件。<br>

结合文章讲解学习本代码更方便高效：[点击直达教程文章](https://mp.weixin.qq.com/s/878Co1CXMiSE7XdBwh7nxg)

In [15]:
import pandas as pd

'''
1、读取、取出需要的数据并合并
'''
file_path = 'data/meteo_china_tmin_2018.xlsx'
data = pd.read_excel(file_path, sheet_name=None)
df_concat = pd.DataFrame()

'''
2、遍历获取所有sheet中的数据
'''
for sheet_name in list(data.keys()):
    print(sheet_name)
    if sheet_name == 'meteo_china_tmin_2018':
        continue
    df_temp = data[sheet_name][['ymd', 'lat', 'lon', 'tmin']]
    df_concat = pd.concat([df_concat, df_temp])
df_concat

meteo_china_tmin_2018
53529
53519
53543
53446
53513
53352
53336
53231

          ymd        lat        lon       tmin
0    20180101  51.024022  75.567044 -54.335985
1    20180102   1.715915  79.802810 -41.935287
2    20180103  64.537409  58.437196 -13.290637
3    20180104   0.315354  43.847884 -93.777330
4    20180105   6.556039  20.173486 -13.857637
..        ...        ...        ...        ...
360  20181227  94.531570  41.184321  -7.202198
361  20181228  44.625031  87.786459 -82.287922
362  20181229  26.811828  66.436228 -69.500716
363  20181230  45.456553  17.346756 -31.927623
364  20181231  46.135540  45.562136 -74.711277

[2920 rows x 4 columns]

In [16]:
'''
3、按时间进行分组，并保存为csv文件
文件格式：hetao-ymd_tmin
'''
ymd_set = set(df_concat['ymd'])
# 单文件测试
# ymd_data = df_concat[df_concat['ymd']==20180716]
# ymd_data.to_csv('./hetao-%d_tmin.csv'%20180716, index=False, header=None, columns=['lat', 'lon', 'tmin'])
# 循环操作所以数据
for ymd in ymd_set:
    print(ymd)
    ymd_data = df_concat[df_concat['ymd']==ymd]
    ymd_data.to_csv('./data/hetao/hetao-%d_tmin.csv'%ymd, columns=['lat', 'lon', 'tmin'], header=None, index=False)

20181001
20181002
20181003
20181004
20181005
20181006
20181007
20181008
20181009
20181010
20181011
20181012
20181013
20181014
20181015
20181016
20181017
20181018
20181019
20181020
20181021
20181022
20181023
20181024
20181025
20181026
20181027
20181028
20181029
20181030
20181031
20181101
20181102
20181103
20181104
20181105
20181106
20181107
20181108
20181109
20181110
20181111
20181112
20181113
20181114
20181115
20181116
20181117
20181118
20181119
20181120
20181121
20181122
20181123
20181124
20181125
20181126
20181127
20181128
20181129
20181130
20181201
20181202
20181203
20181204
20181205
20181206
20181207
20181208
20181209
20181210
20181211
20181212
20181213
20181214
20181215
20181216
20181217
20181218
20181219
20181220
20181221
20181222
20181223
20181224
20181225
20181226
20181227
20181228
20181229
20181230
20181231
20180101
20180102
20180103
20180104
20180105
20180106
20180107
20180108
20180109
20180110
20180111
20180112
20180113
20180114
20180115
20180116
20180117
20180118
20180119
20180120
20180121
20180122
20180123
20180124
20180125
20180126
20180127
20180128
20180129
20180130
20180131
20180201
20180202
20180203
20180204
20180205
20180206
20180207
20180208
20180209
20180210
20180211
20180212
20180213
20180214
20180215
20180216
20180217
20180218
20180219
20180220
20180221
20180222
20180223
20180224
20180225
20180226
20180227
20180228
20180301
20180302
20180303
20180304
20180305
20180306
20180307
20180308
20180309
20180310
20180311
20180312
20180313
20180314
20180315
20180316
20180317
20180318
20180319
20180320
20180321
20180322
20180323
20180324
20180325
20180326
20180327
20180328
20180329
20180330
20180331
20180401
20180402
20180403
20180404
20180405
20180406
20180407
20180408
20180409
20180410
20180411
20180412
20180413
20180414
20180415
20180416
20180417
20180418
20180419
20180420
20180421
20180422
20180423
20180424
20180425
20180426
20180427
20180428
20180429
20180430
20180501
20180502
20180503
20180504
20180505
20180506
20180507
20180508
20180509
20180510
20180511
20180512
20180513
20180514
20180515
20180516
20180517
20180518
20180519
20180520
20180521
20180522
20180523
20180524
20180525
20180526
20180527
20180528
20180529
20180530
20180531
20180601
20180602
20180603
20180604
20180605
20180606
20180607
20180608
20180609
20180610
20180611
20180612
20180613
20180614
20180615
20180616
20180617
20180618
20180619
20180620
20180621
20180622
20180623
20180624
20180625
20180626
20180627
20180628
20180629
20180630
20180701
20180702
20180703
20180704
20180705
20180706
20180707
20180708
20180709
20180710
20180711
20180712
20180713
20180714
20180715
20180716
20180717
20180718
20180719
20180720
20180721
20180722
20180723
20180724
20180725
20180726
20180727
20180728
20180729
20180730
20180731
20180801
20180802
20180803
20180804
20180805
20180806
20180807
20180808
20180809
20180810
20180811
20180812
20180813
20180814
20180815
20180816
20180817
20180818
20180819
20180820
20180821
20180822
20180823
20180824
20180825
20180826
20180827
20180828
20180829
20180830
20180831
20180901
20180902
20180903
20180904
20180905
20180906
20180907
20180908
20180909
20180910
20180911
20180912
20180913
20180914
20180915
20180916
20180917
20180918
20180919
20180920
20180921
20180922
20180923
20180924
20180925
20180926
20180927
20180928
20180929
20180930

In [17]:
#完整代码
import pandas as pd

'''
读取、取出需要的数据并合并
'''
file_path = './data/meteo_china_tmin_2018.xlsx'
data = pd.read_excel(file_path, sheet_name=None)
df_concat = pd.DataFrame()

for sheet_name in list(data.keys()):
    if sheet_name == 'meteo_china_tmin_2018':
        continue
    df_temp = data[sheet_name][['ymd', 'lat', 'lon', 'tmin']]
    df_concat = pd.concat([df_concat, df_temp])

'''
按时间进行分组，并保存为csv文件
文件格式：hetao-ymd_tmin
'''
# 获取所有日期
ymd_set = set(df_concat['ymd'])
# 循环操作所有数据
for ymd in ymd_set:
    ymd_data = df_concat[df_concat['ymd']==ymd]
    ymd_data.to_csv('./data/hetao/hetao-%d_tmin.csv'%ymd, columns=['lat', 'lon', 'tmin'], header=None, index=False)